section{
    width: 100%;
    height: auto;
    min-height: 300px;

    display: flex;
    flex-direction: row;
    
    justify-content: center;
    align-content: center;

    align-items: center;
    justify-items: space-evenly;
}

section div.content{
    display: flex;
    flex-direction: column;
    
    text-align: center;

    margin: 10%;
}

section img.icon{
    width: 250px;
    align-self: center;
    justify-self: center;
    
    margin: 10%;
}


section p.text{
    font-size: 20px;
    max-width: 800px;
    text-align: center;

    display: flex;
    flex-direction: row;
}

section div#content {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}