section{
    
    height: auto;
    
    text-align: center;
    align-content: top;
    justify-items: center;
    padding: 5rem;
}

section div.content{
    display: flex;
    flex-direction: row;
    
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    
    margin: 2rem;
}


section p.text{
    font-size: 20px;
    max-width: 800px;
    text-align: center;

    display: flex;
    flex-direction: row;
}

section div#content {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}