@media (max-width: 767px)  {
    header {
        display: block;
        text-align: center;
        align-items: center;
        align-content: center;
        justify-content: center;
        padding: 1rem;
        gap: 1rem;
    }

    header h1 {
        position: fixed;
        width: 30%;
        left: 35%;
    }

    header nav {
        visibility: hidden;
    }

    footer {
        flex-direction: column;
    }

    h1 { font-size: 1.5em; }
    h2 { font-size: 1.25em; }
    h3 { font-size: 1.1em; }
    h4 { font-size: .9em; }
    h5 { font-size: .75em; }

    img.experience-img{
        width: 100px;
        height: auto;
    }

    img.img-skill{
        width: 100px;
        height: auto;
    }

    section#projects div.content{
        flex-direction: column;
    }

    div.card{
        width: 75%;
    }
}

@media (min-width: 768px) and (max-width: 1024px) { 
    
    header h1 {
        font-size: 2.2em; 
    }

    header nav {
        font-size: 22px; 
    }

    footer {
        flex-direction: row;
    }

    h1 { font-size: 2em; }
    h2 { font-size: 1.75em; }
    h3 { font-size: 1.5em; }
    h4 { font-size: 1.25em; }
    h5 { font-size: 1.1em; }

    img.img-skill{
        width: 100px;
        height: auto;
    }
    
    img.experience-img{
        width: 150px;
        height: auto;
    }

    section#projects div.content{
        flex-direction: row;
    }

    div.card{
        width: 18rem;
    }
}

@media (min-width: 1025px) {
    
    header h1 {
        font-size: 2.5em; 
    }

    header nav {
        font-size: 24px; 
    }

    footer {
        flex-direction: row;
    }

    h1 { font-size: 2.5em; }
    h2 { font-size: 2em; }
    h3 { font-size: 1.75em; }
    h4 { font-size: 1.5em; }
    h5 { font-size: 1.25em; }

    img.img-skill{
        width: 150px;
        height: auto;
    }
    
    img.experience-img{
        width: 200px;
        height: auto;
    }
    
    section#projects div.content{
        flex-direction: row;
        flex-wrap: nowrap;
    }

    div.card{
        width: 18rem;
    }
}