section#skills div.content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80%;

    gap: 2rem;

    justify-content: center;
}

section#skills div.content img{
    width: auto;
    height: 100px;
    align-self: center;
    justify-self: center;
}